<div class="m-5">
  <h1 style="font-weight: 400; margin-bottom: 20px">Employees
    <span class="float-end" style="margin-right: 30px">
    <%= link_to 'New Employee', new_employee_path, class: 'btn btn-outline-primary' %>
  </span>
  </h1>
  <div class="d-flex justify-content-center align-items-center">
    <table class="table" style="width: 80%">
      <thead class="table-info" style="padding-left: 15px">
      <tr>
        <th>Full Name</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.full_name %></td>
          <td><%= employee.designation %></td>
          <td><%= employee.department.name %></td>
          <td>
            <div class="d-flex">
              <%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-outline-secondary', style: 'margin-right: 10px' %>
              <%= button_to 'Delete', "/employees/#{employee.id}", method: :delete, data: { turbo_confirm: "Are you sure you want to delete?" }, class: "btn btn-outline-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>