<!DOCTYPE html>
<html>
  <head>
    <title>BillReimbursement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success alert-dismissible fade show float-end me-3" role="alert">
        <strong><%= notice %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>